<h1>Currency Exchange</h1>
<p><label><input id="amount"></label></p>
<div id="otherCurrency">
  <ul>
  </ul>
</div>
<div id="otherToInr">
  <ul>
  </ul>
</div>
<div id="indianRupee">
  <ul>
  </ul>
</div>
<div id="inrToOther">
  <ul>
  </ul>
</div>
<br/>
<div id="timestamp"></div>
