<p><label><input id="amount"></label></p>
<h3 id="other">1</h3>
<h3 id="india">1</h3>
<div id="otherCurrency">
  <ul>
  </ul>
</div>
<div id="otherToInr">
  <ul>
  </ul>
</div>
<div id="indianRupee">
  <ul>
  </ul>
</div>
<div id="inrToOther">
  <ul>
  </ul>
</div>
<br/>
<div id="timestamp"></div>
