<div id="amount-container">
  <div id="note"><img src="currency/Ruoran_Money.jpg"/></div>
  <p><input id="amount"/></p>
</div>
<div id="exchange-container">
  <div id="otherCurrency" class="content-section">
    <ul>
    </ul>
  </div>
  <div id="otherToInr" class="content-section">
    <ul>
    </ul>
  </div>
  <div id="inrToOther" class="content-section">
    <ul>
    </ul>
  </div>
  <div id="indianRupee" class="content-section">
    <ul>
    </ul>
  </div>
</div>
<div class="clear"></div>
<div id="timestamp"></div>
