<li class="span12">
  <section>
	<h2>Currency</h2>
	<div id="amount-container">
	  <div id="erlangga" class="note"><img src="currency/Erlangga_3.png"/></div>
	  <div id="greg" class="note"><img src="currency/Greg_3.png"/></div>
	  <div id="johannes" class="note"><img src="currency/Johannes_3.png"/></div>
	  <div id="jr" class="note"><img src="currency/Jr_3.png"/></div>
	  <div id="mewan" class="note"><img src="currency/Mewan_3.png"/></div>
	  <div id="ruoran" class="note"><img src="currency/Ruoran_3.png"/></div>
	  <div id="solon" class="note"><img src="currency/Solon_3.png"/></div>
	  <div id="ste" class="note"><img src="currency/Ste_3.png"/></div>
	  <p><input id="amount"/></p>
	</div>
	<div id="exchange-container">
	  <div id="otherCurrency" class="content-section">
		<ul>
		</ul>
	  </div>
	  <div id="otherToInr" class="content-section">
		<ul>
		</ul>
	  </div>
	  <div id="inrToOther" class="content-section">
		<ul>
		</ul>
	  </div>
	  <div id="indianRupee" class="content-section">
		<ul>
		</ul>
	  </div>
	</div>
	<div class="clear"></div>
	<div id="timestamp"></div>
  </section>
</li>