<li class="span12">
  <section>
	<h2>Currency</h2>

	<div class="row-fluid custom-note">
	  <div class="span12">
		<div id="erlangga" class="note"><img src="currency/Erlangga_3.png"/></div>
		<div id="greg" class="note"><img src="currency/Greg_3.png"/></div>
		<div id="johannes" class="note"><img src="currency/Johannes_3.png"/></div>
		<div id="jr" class="note"><img src="currency/Jr_3.png"/></div>
		<div id="mewan" class="note"><img src="currency/Mewan_3.png"/></div>
		<div id="ruoran" class="note"><img src="currency/Ruoran_3.png"/></div>
		<div id="solon" class="note"><img src="currency/Solon_3.png"/></div>
		<div id="ste" class="note"><img src="currency/Ste_3.png"/></div>
	  </div>
	</div>

	<div class="row-fluid custom-row">
	  <div class="span12">
		<input id="amount" placeholder="Insert here the value you want"/>
	  </div>
	</div>

	<div id="exchange-container" class="row-fluid custom-row">
	  <div id="otherCurrency" class="span2">
		<ul></ul>
	  </div>
	  <div id="equalColumn1" class="span1">
		<ul></ul>
	  </div>
	  <div id="otherToInr" class="span3">
		<ul></ul>
	  </div>
	  <div id="indianRupee" class="span2">
		<ul></ul>
	  </div>
	  <div id="equalColumn2" class="span1">
		<ul></ul>
	  </div>
	  <div id="inrToOther" class="span3">
		<ul></ul>
	  </div>
	</div>
	<div class="clear"></div>
	<div id="timestamp"></div>
  </section>
</li>