<li class="span8 thumb">
    <%= link_to map_path, :class => "thumbnail map-thumb" do %>
        <h2>Map</h2>

        <p>
            Look at the Bangalore map and find places to go
        </p>
    <% end %>
    <ul class="thumbnails" style="margin-top: 20px;">
        <li class="span4">
            <%= link_to all_activity_path, :class => "thumbnail activities-thumb" do %>
                <h2>Activities</h2>

                <p>
                    Interesting places and activities in Bangalore
                </p>
            <% end %>
        </li>
        <li class="span4">
            <%= link_to about_path, :class => "thumbnail about-thumb" do %>
                <h2>About Us</h2>

                <p>
                    See any information about us
                </p>
            <% end %>
        </li>
    </ul>
</li>
<li class="span4 thumb">
    <%= link_to currency_path, :class => "thumbnail currency-thumb" do %>
        <h2>Currency</h2>

        <p style="min-height: 200px;">
            Convert currency between Indian Rupees and yours with the latest rate
        </p>
    <% end %>
</li>
