<br /><br />
<div align="center">
  <input id="activityText" type="text" />
</div>
<% @activities.group_by(&:category).each do |category, activityList| %>
    <ul>
      <li><%= category %></li>
      <ol>
        <% activityList.each do |activity| %>
            <li><%= link_to activity.name, {:controller => "activity", :action => "activity", :id => activity.id }%></li>
        <% end %>
      </ol>
    </ul>
<% end %>
