<br /><br />
<div align="center">
  <input id="activityText" type="text" />
  <table>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Location</th>
      <th>Description</th>
      <th>Rating</th>
    </tr>
    <% @activities.each do |activity| %>
        <tr>
          <td><%= activity.name %></td>
          <td><%= activity.category %></td>
          <td>Location here....</td>
          <td><%= activity.description %></td>
          <td>Rating here...</td>
        </tr>
    <% end %>
  </table>
</div>