<h1>Activities</h1>
<% @activities.group_by(&:category).each do |category, activityList| %>
    <ul>
      <li><%= category %></li>
      <ol>
        <% activityList.each do |activity| %>
            <li><%= activity.name %></li>
        <% end %>
      </ol>
    </ul>
<% end %>
