<li class="span12">
  <section>

    <h2>About Us</h2>

    <p>We are AngryRickshaw and we are awesome !</p>

    <h3>Author</h3>

    <div class="profile">
      <img class="avatar" src="about/erlangga.jpg"/>

      <div class="info">
        <p><b>Erlangga Tjhie</b></p>

        <p>Indonesian, working in Melbourne, Australia</p>

        <p>Developer</p>
      </div>
      <p class="clear"></p>
    </div>

    <div class="profile">
      <img class="avatar" src="about/greg.jpg"/>

      <div class="info">
        <p><b>Greg Skinner</b></p>

        <p>British, working in Melbourne, Australia</p>

        <p>User Experience Designer</p>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="about/jr.jpg"/>

      <div class="info">
        <p><b>Junior Ales</b></p>

        <p>Brazilian, working in Porto Alegre, Brazil</p>

        <p>Developer</p>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="about/mewan.jpg"/>

      <div class="info">
        <p><b>Mewanbanjop Mawroh</b></p>

        <p>Indian, working in Chennai, India</p>

        <p>Developer</p>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="about/ruoran.jpg"/>

      <div class="info">
        <p><b>Ruoran Liu</b></p>

        <p>Chinese, working in Chengdu, China</p>

        <p>Developer</p>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="about/solon.jpg"/>

      <div class="info">
        <p><b>Solon Aguiar</b></p>

        <p>Brazilian, working in Porto Alegre, Brazil</p>

        <p>Developer</p>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="about/ste.jpg">
      <div class="info">
      <p><b>Stephen Cowley</b></p>

      <p>British, working in Manchester, UK</p>

      <p>Developer</p>
    </div>
    </div>

  </section>
</li>