<% provide(:title, 'About Us') %>
<li class="span12">
  <section>

    <h2>About Us</h2>

    <p>We are AngryRickshaw and we are awesome !</p>

    <h3>Author</h3>

    <div class="profile">
      <img class="avatar" src="about/erlangga.jpg"/>

      <div class="info">
        <p><b>Erlangga Tjhie</b></p>

        <p><span><img class="flag" src="about/indonesia.png"></span> working in Melbourne, <span><img class="flag" src="about/australia.png"></span></p>

        <p>Developer</p>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="about/greg.jpg"/>

      <div class="info">
        <p><b>Greg Skinner</b></p>

        <p><span><img class="flag" src="about/uk.png"></span> working in Melbourne, <span><img class="flag" src="about/australia.png"></span></p>

        <p>User Experience Designer</p>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="about/johannes.jpg"/>

      <div class="info">
        <p><b>Johannes Thönes</b></p>

        <p><span><img class="flag" src="about/germany.png"></span> working in Hamburg, <span><img class="flag" src="about/germany.png"></span></p>

        <p>Developer</p>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="about/jr.jpg"/>

      <div class="info">
        <p><b>Junior Ales</b></p>

        <p><span><img class="flag" src="about/brazil.png"></span> working in Porto Alegre, <span><img class="flag" src="about/brazil.png"></span></p>

        <p>Developer</p>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="about/mewan.jpg"/>

      <div class="info">
        <p><b>Mewanbanjop Mawroh</b></p>

        <p><span><img class="flag" src="about/india.png"></span> working in Chennai, <span><img class="flag" src="about/india.png"></span></p>

        <p>Developer</p>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="about/ruoran.jpg"/>

      <div class="info">
        <p><b>Ruoran Liu</b></p>

        <p><span><img class="flag" src="about/china.png"></span> working in Chengdu, <span><img class="flag" src="about/china.png"></span></p>

        <p>Developer</p>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="about/solon.jpg"/>

      <div class="info">
        <p><b>Solon Aguiar</b></p>

        <p><span><img class="flag" src="about/brazil.png"></span> working in Porto Alegre, <span><img class="flag" src="about/brazil.png"></span></p>

        <p>Developer</p>
      </div>
    </div>

    <div class="profile">
      <img class="avatar" src="about/ste.jpg">

      <div class="info">
        <p><b>Stephen Cowley</b></p>

        <p><span><img class="flag" src="about/uk.png"></span> working in Manchester, <span><img class="flag" src="about/uk.png"></span></p>

        <p>Developer</p>
      </div>
    </div>

  </section>
</li>