// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.avatar {
  float: left;
  height: 90px;
  margin-right: 50px;
}

.info {
}

.flag {
  height: 1em;
}

.profile {
  margin: 0 0 30px 30px;
}