// Place all the styles related to the Activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#activitiesPageSection {
	background-color: white;
	padding-right: 50px;
}

#activityLocations li {
	width: 100%;

	.span5 {
		padding-right: 10px;
	}
}

#activityPhoto {
	float: left;
	margin-top: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	height: 150px;
	width: 150px;
}

#activityMap {
	margin-top: 20px;
	margin-bottom: 20px;
}

#activityPictures {
	max-height: 250px;
}

ul {
	list-style: none;
}

hr.activity-row {
	margin-bottom: 15px;
}

.location-text {
	min-height: 160px;
	text-align: justify;
}
