#note img {
    width: 800px;
}

#amount {
    width: 600px;
    height: 50px;
    font-size: 20pt;
    text-align: center;
}

#timestamp {
    position: relative;
    width: 800px;
    margin: 100px auto 0;
    text-align: center;
}

#amount-container {
    width: 800px;
    position: relative;
    text-align: center;
}

table {
    width: 100%;
    border: 1px solid #d3d3d3;
    background-color: #d3d3d3;

	tr td {
		text-align: right;
	}
}

tr:nth-child(2n+1) {
    background-color: #a9a9a9;
}

.currencyColumn {
    text-align: left;
}

.valueColumn {
    text-align: center;
    font-weight: bold;
}

.custom-row div {
    margin-top: 20px;
}

.custom-row div, .custom-note {
    display: block;
    text-align: center;
}

.first-section {
    padding-left: 0px;
}

.clear {
    clear: both;
}

.note {
    display: none;
}