#otherCurrency ul, #otherToInr ul, #indianRupee ul, #inrToOther ul {
    padding-left: 0px;
    list-style: none;
}

#otherToInr ul {
    text-align: right;
}

#otherToInr li, #inrToOther li {
    margin-left: 10px;
}

li {
    margin-bottom: 3px;
}

#inrToOther, #indianRupee, #otherToInr, #otherCurrency {
    position: absolute;
    top: 260px;
    float: left;
}

#otherCurrency {
    left: 17%;
    text-align: right;
}

#otherToInr {
    left: 28%;
}

#indianRupee {
    left: 60%;
    text-align: right;
}

#inrToOther {
    left: 68%;
}

#other, #india {
    position: absolute;
    top: 220px;
    float: right;
    text-align: right;
}

#other {
    right: 73%;
}

#india {
    right: 33%;
}

input {
    width: 50%;
    height: 50px;
    position: absolute;
    left: 25%;
    top: 150px;
    font-size: 20pt;
    text-align: center;
}

#timestamp {
    position: absolute;
    left: 38%;
    top: 500px;
}