#note {
    width: 700px;
}

#otherCurrency ul, #otherToInr ul, #indianRupee ul, #inrToOther ul {
    padding-left: 0px;
    list-style: none;
}

li {
    margin-bottom: 3px;
}

#otherCurrency {
    text-align: right;
}

#otherToInr {
    text-align: right;
}

#indianRupee {
    float: right;
}

#inrToOther {
    float: right;
}

#amount {
    width: 600px;
    height: 50px;
    position: absolute;
    left: 100px;
    top: 150px;
    font-size: 20pt;
    text-align: center;
    z-index: 999;
}

#timestamp {
    position: relative;
    width: 800px;
    margin: 100px auto 0;
    text-align: center;
}

#amount-container {
    width: 800px;
    margin: 20px auto 0;
    position: relative;
}

#exchange-container {
    width: 1000px;
    margin: 80px auto 0;
}

.content-section {
    padding-left: 10px;
    float: left;
}

.clear {
    clear: both;
}