#note img {
    width: 800px;
}

#otherCurrency ul, #otherToInr ul, #indianRupee ul, #inrToOther ul, #equalColumn1 ul, #equalColumn2 ul{
    padding-left: 0px;
    list-style: none;
}

li {
    margin-bottom: 3px;
}

#amount {
    width: 600px;
    height: 50px;
    font-size: 20pt;
    text-align: center;
}

#timestamp {
    position: relative;
    width: 800px;
    margin: 100px auto 0;
    text-align: center;
}

#amount-container {
    width: 800px;
    position: relative;
    text-align: center;
}

#exchange-container div ul {
    display: block;
    text-align: left;
}

.custom-row div {
    margin-top: 20px;
}

.custom-row div, .custom-note {
    display: block;
    text-align: center;
}

.first-section {
    padding-left: 0px;
}

.clear {
    clear: both;
}

.note {
    display: none;
}