<li class="span12">
	<section>
		<h2>Map</h2>
		<div class="tabbable tabs-left">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#tab1" data-toggle="tab">
						Restaurants
					</a>
				</li>
				<li>
					<a href="#tab2" data-toggle="tab">
						Clubs
					</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="tab1">
					<ul class="locations">
						<li>
							<p>
								Java
							</p>
						</li>
					</ul>
				</div>
				<div class="tab-pane" id="tab2">
					<ul class="locations">
						<li>
							<p>
								Skyy
							</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
</li>
