<li class="span12">
	<section>
		<h2>Map</h2>
		<p>Map will be displayed here....s</p>
		<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com.br/?ie=UTF8&amp;ll=12.973278,77.60047&amp;spn=0.0547,0.089092&amp;t=h&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com.br/?ie=UTF8&amp;ll=12.973278,77.60047&amp;spn=0.0547,0.089092&amp;t=h&amp;z=14&amp;source=embed" style="color:#0000FF;text-align:left">Exibir mapa ampliado</a></small>
	</section>
</li>
